<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">    
<head th:fragment = "header">
  <title>Farmer Registration Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  
  <link rel="stylesheet" th:href="@{/css/customer_registration.css}">
  <link rel="stylesheet" th:href="@{/css/farmer_registration.css}">
  <link rel="stylesheet" th:href="@{/css/customer_login.css}">
  <link rel="stylesheet" th:href="@{/css/farmer_login.css}">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  
</head>
<body>
 
</body>
</html>