<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
</head>
<body>
	<div class="container bg-success" th:fragment="navbar">

		<div>
			<h1 class="text-light">Farmer Assistance Portal</h1>
			<h6 class="text-light">A Portal for Farming assistance</h6>
		</div>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link text-success"
						href="/homepage">Home</a></li>
					<li class="nav-item"><a class="nav-link text-success"
						href="/allproducts">All Products</a></li>
					<li class="nav-item"><a class="nav-link text-success"
						href="/notifications">Notifications</a></li>
					<li class="nav-item"><a class="nav-link text-success"
						href="/allquestions">All Questions</a></li>
					<li class="nav-item"><a class="nav-link text-success"
						href="/register">Register</a></li>
					<li class="nav-item"><a class="nav-link text-success"
						href="/login">Login</a></li>
					<li class="nav-item"><a class="nav-link text-success"
						href="/contactus">Contact Us</a></li>
				</ul>
			</div>
		</nav>

	</div>
</body>
</html>